#enemy {
  border: 4px solid black;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}
#deadEnemy {
  border: 4px solid black;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}
p {
  font-size: 40px;
}
#counter {
  text-align: center;
  display: flex;
  background-color: bisque;
  width: max-content;
  margin-left: 43%;
}
#hpCounter {
  text-align: center;
  display: flex;
  background-color: bisque;
  width: max-content;
  margin-left: 23%;
}
#hpObal {
  display: flex;
}
#deadEnemy {
  display: none;
}
#money {
  font-size: 50px;
  margin-left: 5px;
}
#damage {
  font-size: 50px;
  margin-left: 5px;
}
#damagePerSecond {
  margin-left: 5px;
}
* {
  box-sizing: border-box;
}
button {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  width: 98%;
}
#club {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#spear {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#mace {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#swordd {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#music {
  width: 30px;
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
}
#mutedMusic {
  width: 30px;
  margin: 0;
  padding: 0;
  background-color: black;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
#deathCounter {
  margin-left: 5px;
  background-color: bisque;
  width: max-content;
}
.hp {
  margin: 0;
  padding: 0;
  border: none;
}
#menu {
  font-size: 50px;
  width: 300px;
  height: 100px;
  margin: 0;
  padding: 0;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#menu:hover{
  color: white;
}
body {
  background-image: url(../img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  margin: 0;
  height: 100vh;
}
#mesto {
  display: block;
}
#main {
  display: none;
}
#hospoda {
  font-size: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  float: right;
  margin-right: 10%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#hospoda:hover{
  color: white;
}
#church {
  font-size: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#church:hover{
  color: white;
}
#back {
  font-size: 35px;
  display: none;
  width: 300px;
  height: 100px;
  text-align: center;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
}
#back:hover{
  color: white;
}
#backButton2 {
  font-size: 35px;
  display: none;
  width: 300px;
  height: 100px;
  text-align: center;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
}
#backButton2:hover{
  color: white;
}
#verze {
  background-color: bisque;
  width: 400px;
  position: absolute;
  bottom: 0;
}
#nextUpdate {
  width: 500px;
  text-align: center;
  font-size: 100px;
  height: 500px;
  background-color: white;
  display: none;
  float: right;
  margin-top: 15%;
  margin-right: 10%;
}
#thr {
  font-size: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  margin-top: 25%;
  margin-left: 30%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#enchant{
  font-size: 40px;
  width: 300px;
  height: 100px;
  text-align: center;
  margin-top: 15%;
  margin-left: 43.5%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
  display: none;
}
#enchant:hover{
  color: white;
}
#thr:hover{
  color: white;
}
#oball {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.shop1 {
  width: 15%;
  float: left;
}
.shop2 {
  width: 15%;
  float: left;
}
.shop3 {
  width: 15%;
  float: left;
  width: max-content;
  display: flex;
}
#moneyCounter2{
  display: none;
  width: max-content;
  background-color: bisque;
  font-size: 40px;
}
.stats {
  background-color: bisque;
  width: max-content;
}
#description {
  background-color: bisque;
  width: 70px;
}
#description2 {
  background-color: bisque;
  width: 70px;
}
#description3 {
  background-color: bisque;
  width: 70px;
}
#description4 {
  background-color: bisque;
  width: 70px;
}
#obal {
  display: flex;
  margin-top: 230px;
}
#mainChar {
  display: block;
  transition: ease 2.5;
  margin: 0 auto;
}
#flex1 {
  flex: 50%;
}
#flex2 {
  flex: 50%;
}
#goInside {
  font-size: 50px;
  display: none;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 35%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#goInside:hover{
  color: white;
}
#typeOfEnchantment{
  display: none;
  color: gold;
  background-color: gray;
  font-size: 50px;
}
#goBack {
  font-size: 50px;
  display: none;
  width: 300px;
  height: 100px;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#goBack:hover{
  color: white;
}
#earnings {
  font-size: 50px;
  color: gold;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
#buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
#attack {
  width: 200px;
  height: 200px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-justify: center;
}
#heal {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-justify: center;
}
#pott {
  position: relative;
}
#potionCounter {
  position: absolute;
  font-size: 80px;
  right: 80px;
  top: 25%;
  pointer-events: none;
}
#boss1{
  display: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 10%;
}
#deadBoss1{
  display: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 10%;
}
@media all and (max-width: 1081px) {
  #enemy {
    width: 300px;
  }
  #deadEnemy {
    width: 300px;
  }
  #mainChar {
    width: 300px;
  }
}
#obal {
  margin-top: 100px;
}
