#enemy {
  border: 4px solid black;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}
#deadEnemy {
  border: 4px solid black;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}
p {
  font-size: 40px;
}
#counter {
  text-align: center;
  display: flex;
  background-color: bisque;
  width: max-content;
  margin-left: 43%;
}
#hpCounter {
  text-align: center;
  display: flex;
  background-color: bisque;
  width: max-content;
  margin-left: 23%;
}
#hpObal {
  display: flex;
}
#deadEnemy {
  display: none;
}
#money {
  font-size: 50px;
  margin-left: 5px;
}
#damage {
  font-size: 50px;
  margin-left: 5px;
}
#damagePerSecond {
  margin-left: 5px;
}
* {
  box-sizing: border-box;
  user-select: none;
}
button {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  max-width: 380px;
  width: 100%;
}
#club {
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#spear {
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#mace {
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#swordd {
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  margin-left: 5px;
  border: 4px solid black;
  cursor: pointer;
}
#music {
  max-width: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
}
#mutedMusic {
  max-width: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
#deathCounter {
  margin: 0 auto;
  font-size: 50px;
  width: max-content;
}
.hp {
  margin: 0;
  padding: 0;
  border: none;
}
#menu {
  font-size: 50px;
  max-width: 300px;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#menu:hover{
  color: white;
}
body {
  /*background-image: url(../img/gameMenu.jpg);*/
  background: url(../img/gameMenu.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  margin: 0;
  height: 100vh;
}
#mesto {
  display: block;
}
#main {
  display: none;
}
#hospoda {
  font-size: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  float: right;
  margin-right: 10%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
} 
#hospoda:hover{
  color: white;
}
#church {
  font-size: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#church:hover{
  color: white;
}
#back {
  font-size: 35px;
  display: none;
  width: 300px;
  height: 100px;
  text-align: center;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
}
#back:hover{
  color: white;
}
#backButton2 {
  font-size: 35px;
  display: none;
  width: 300px;
  height: 100px;
  text-align: center;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
}
#backButton2:hover{
  color: white;
}
#levelObal{
  display: none;
}
#verze {
  background-color: bisque;
  width: 400px;
  position: absolute;
  bottom: 0;
}
#nextUpdate {
  width: 500px;
  text-align: center;
  font-size: 100px;
  height: 500px;
  background-color: white;
  display: none;
  float: right;
  margin-top: 15%;
  margin-right: 10%;
}
#thr {
  font-size: 50px;
  width: 300px;
  height: 100px;
  text-align: center;
  margin-top: 25%;
  margin-left: 30%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#enchant{
  font-size: 40px;
  width: 300px;
  height: 100px;
  text-align: center;
  margin-top: 15%;
  margin-left: 43.5%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
  display: none;
}
#enchant:hover{
  color: white;
}
#thr:hover{
  color: white;
}
#oball {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.shop1 {
  width: 15%;
  float: left;
}
.shop2 {
  width: 15%;
  float: left;
}
.shop3 {
  width: 15%;
  float: left;
  width: max-content;
  display: flex;
}
#moneyCounter2{
  display: none;
  width: max-content;
  background-color: bisque;
  font-size: 40px;
}
.stats {
  background-color: bisque;
  width: max-content;
}
#description {
  background-color: bisque;
  width: 70px;
}
#description2 {
  background-color: bisque;
  width: 70px;
}
#description3 {
  background-color: bisque;
  width: 70px;
}
#description4 {
  background-color: bisque;
  width: 70px;
}
#obal {
  display: flex;
  margin-top: 230px;
}
#mainChar {
  display: block;
  transition: ease 2.5;
  margin: 0 auto;
}
#flex1 {
  flex: 50%;
}
#flex2 {
  flex: 50%;
}
#goInside {
  font-size: 50px;
  display: none;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 35%;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#goInside:hover{
  color: white;
}
#typeOfEnchantment{
  display: none;
  color: gold;
  background-color: gray;
  font-size: 50px;
}
#goBack {
  font-size: 50px;
  display: none;
  width: 300px;
  height: 100px;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
#goBack:hover{
  color: white;
}
#earnings {
  font-size: 50px;
  color: gold;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
#buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
#attack {
  width: 200px;
  height: 200px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-justify: center;
}
#heal {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-justify: center;
}
#pott {
  position: relative;
}
#potionCounter {
  position: absolute;
  font-size: 80px;
  right: 80px;
  top: 25%;
  pointer-events: none;
}
#boss1{
  display: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 10%;
}
#deadBoss1{
  display: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 10%;
}
#mainObal{
  display: none;
}
#play{
  width: 25%;
  height: 50px;
}
#tutorial{
  width: 25%;
  height: 50px;
}
#gameMenu{
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#saveMenu{
  display: block;
  position: absolute;
  left: 40.7%;
  top: 25%;
  z-index: 2;
  max-width: 400px;
  width: 100%;
}
#saveObal{
  display: none;
}
#saveObal #saveObalObal{
  z-index: 5;
  position: absolute;
  width: 300px;
  left: 42.5%;
  top: 30%;
}
#resume{
  font-size: 50px;
  width: 300px;
  height: 100px;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
  margin-top: 20px;
}
#unsave{
  font-size: 48px;
  width: 300px;
  height: 100px;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
  margin-top: 20px;
}
#quit{
  font-size: 50px;
  width: 300px;
  height: 100px;
  background-image: url(../img/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  cursor: pointer;
}
@media all and (max-width: 1081px) {
  #enemy {
    width: 300px;
  }
  #deadEnemy {
    width: 300px;
  }
  #mainChar {
    width: 300px;
  }
}
#obal {
  margin-top: 100px;
}
@media all and (max-width: 900px){
  #menu {
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 7px;
  }
  #hospoda {
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 7px;
  }
  #church{
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 7px;
  }
  #back{
    font-size: 9px;
    width: 100px;
    height: 30px;
    padding-top: 10px;
  }
  #backButton2{
    font-size: 9px;
    width: 100px;
    height: 30px;
    padding-top: 10px;
  }
  #verze{
    width: 200px;
    font-size: 10px;
  }
  #nextUpdate {
    width: 150px;
    font-size: 30px;
    height: 150px;
  }
  #thr{
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 7px;
  }
  #enchant{
    font-size: 10px;
    width: 100px;
    height: 30px;
    padding-top: 9px;
  }
  #goInside{
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 7px;
  }
  #goBack{
    font-size: 15px;
    width: 100px;
    height: 30px;
    padding-top: 7px;
  }
  #moneyCounter2{
    font-size: 15px;
  }
  #attack {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: block;
    position: static;
  }
  #heal {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: block;
  }
  #pott{
    height: 100px;
    width: 100px;
  }
  #att{
    width: 100px;
  }
  #potionCounter{
    font-size: 50px;
  }
  #hpCounter{
    font-size: 15px;
  }
  #counter{
    font-size: 15px;
  }
  #hp{
    width: 15px;
    height: 15px;
  }
  #hp2{
    width: 15px;
    height: 15px;
  }
  #buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 243px;
  }
  #verzeRes{
    display: none;
  }
  #damage{
    font-size: 15px;
  }
  #money{
    font-size: 15px;
  }
  #deathCounter{
    font-size: 15px;
  }
  #sword{
    font-size: 10px;
  }
  #MaxHealth{
    font-size: 10px;
  }
  #potion{
    font-size: 10px;
  }
  #club{
    width: 65px;
    border: thin solid;
  }
  #mace{
    width: 65px;
    border: thin solid;
  }
  #spear{
    width: 65px;
    border: thin solid;
  }
  #swordd{
    width: 65px;
    border: thin solid;
  }
  #description{
    font-size: 12px;
    height: 65px;
  }
  #description2{
    font-size: 12px;
    height: 65px;
  }
  #description3{
    font-size: 12px;
    height: 65px;
  }
  #description4{
    font-size: 12px;
    height: 65px;
  }
  #enemy{
    margin-top: 0;
    height: 200px;
    width: 200px;
    border: solid thin;
  }
  #deadEnemy{
    margin-top: 0;
    height: 200px;
    width: 200px;
    border: solid thin;
  }
  #mainChar{
    width: 200px;
  }
  #obal{
    margin: 0;
  }
  #flex2{
    margin-left: 50px;
    flex: 25%
  }
  #flex1{
    margin-left: -50px;
  }
  #boss1{
    height: 200px;
    width: 200px;
  }
  #deadBoss1{
    height: 200px;
    width: 200px;
  }
}